.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card{
  width: 100%;
  margin-bottom: 15px;
}

.small-card__photo > img {
  width: 80%;
  min-width: 200px;
  margin-right: 20px;
}

.small-card__title > h1 {
  font-size: 20px;
}

.container__small-card__separator{
  margin-top: 10px;
}

@media screen and (min-width: 360px) {
  /* Trocar o formato para listar big card, 3 small cards de cima para baixo */
  /* 360 x 640 mobile */
  .container__small-card{
    width: 100%;
    margin-bottom: 15px;
  }
  
  .small-card__photo > img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .small-card__title > h1 {
    font-size: 15px;
    margin-right: 20px;
  }

  .container__small-card__separator{
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  /* Trocar o formato para listar big card, 3 small cards de cima para baixo */
  /* 720 x 1280 mobile */
  .container__small-card{
    width: 100%;
    margin-bottom: 15px;
  }
  
  .small-card__photo > img {
    width: 360px;
    min-width: 200px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .small-card__title > h1 {
    font-size: 18px;
    margin-right: 20px;
  }

  .container__small-card__separator{
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  /* 768 x 576 */
  .container__small-card{
    width: 550px;
    margin-bottom: 15px;
  }
  
  .small-card__photo > img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
  }
  
  .small-card__title > h1 {
    font-size: 20px;
  }

  .container__small-card__separator{
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  /* 1024 x 600 */

}

@media screen and (min-width: 1366px){
    /* 1366 x 768 */
    /* nesse campo repetiremos todos os CSS já existentes */

}