<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      id="1"
      photoCover="https://hermes.dio.me/tracks/2b3eb506-d986-4a63-b353-c086684ff557.png"
      cardTitle="Bootcamp Coding The Future Banco PAN"
      cardDescription="É com muita alegria que compartilho essa novidade: Ainda essa semana, até dia 26 de janeiro de 2024 pretendo finalizar este maravilhoso bootcamp que me agregou muitos conhecimentos acerta do universo de front end."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      cardTitle="Procurando um desenvolvedor competente e comprometido? Acesse o linkedin e confira!"
      photoCover="./assets/linkedin.png"
    >
    </app-small-card>

    <app-small-card
      id="3"
      cardTitle="Muito feliz em ter alcançado a marca de 32 certificados na plataforma Digital Innotation One"
      photoCover="./assets/dio-certificados.png"
    >
    </app-small-card
    >

    <app-small-card
      id="4"
      cardTitle="Acompanhe as novidades acrescentadas no meu perfil do Github"
      photoCover="./assets/atualizacao-de-profile-github.png"
    >
    </app-small-card>
  </div>
</div>

<!--
    <app-big-card
      id=""
      photoCover=""
      cardTitle=""
      cardDescription=""
    >

    <app-small-card
      id=""
      cardTitle=""
      photoCover=""
    >
-->