.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
  font-size: 1.3vw;
}

.container__menu-bar > ul > li{
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  list-style: none;
}

@media screen and (max-width: 430px) {
  .container__menu-bar > ul {
    font-size: 3vw;
  }
}